/* Ajusta o fundo para receber animação. */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #b249ff, #6f48ff, #447fff, #00a8ff);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  filter: brightness(1.1) saturate(1.2);
}
/* Cria animação fluída para o fundo. */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Centro. */
.container {
  background: rgb(119, 191, 222);
  backdrop-filter: blur(12px);
  border: 4px solid rgb(0, 0, 0);
  width: 50%;
  padding: 8px 16px;
  border-radius: 12px;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.5);
  height: 100vh;
}

/* Ajusta seta */
#retornaImg {
  width: 50%;
  height: auto;
}

/* Ajusta Botão de volta. */
#volta {
  margin: 25px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Título */
#titulo {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background: #1e6ad8;
  width: fit-content;
  margin: 20px auto; /* Centraliza automaticamente */
  padding: 16px 30px;
  border-radius: 15px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
}

/* Subtítulos. */
#altura {
  font-size: 18px;
  font-weight: bold;
}
#peso {
  font-size: 18px;
  font-weight: bold;
}
#nome {
  font-size: 18px;
  font-weight: bold;
}
#idade {
  font-size: 18px;
  font-weight: bold;
}

/* Ajusta os campos de dados. */
input[type="text"],
input[type="number"] {
  all: unset;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  border: 2px solid #000000;
  text-align: left;
  margin-right: 12px;
  background-color: #ffffff;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: #ab15f6; /* Muda a cor da bolinha */
  cursor: pointer;
}
input:focus {
  border-color: #ab15f6;
}

/* Arruma o cacete do alinhamento. E texto*/
label {
  font-family: "martel", sans-serif;
  width: 115px;
}

/* Botão. */
button {
  padding: 12px 22px;
  background: #005c99;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

button:hover {
  background: #003d66;
  transform: scale(1.02);
}

/* Resultado. */
#resultado p {
  margin-top: 25px;
  padding: 15px;
  background: #e8f8ff;
  border-left: 6px solid #0088cc;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  color: #013151;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  opacity: 0; /* Esconde o campo até todar o Show*/
  transform: translateY(10px);
  transition: 0.5s ease; /*Tempo de transição*/
}
/* Puxa a animação do JS. */
#resultado p.anima {
  opacity: 1; /*Revela o resultado!*/
  transform: translateY(0);
}

/* FadeIn. */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Links */
#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}
#links a {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background: #1e6ad8;
  width: 60%;
  text-align: center;
  padding: 12px 0;
  border-radius: 12px;
  transition: 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
/* Efeito ao passar o mouse */
#links a:hover {
  background: #114a9f;
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Alerta. */
.error {
  border: 2px solid #ff4d4d !important;
  outline: none;
  animation: treme 0.2s 3;
}

@keyframes treme {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}
